<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/layout :: head" lang="en">
        <meta charset="UTF-8" />
        <title>Find user</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: upperPart" />
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div th:replace="fragments/layout :: keskiOsaVasen" />
                </div>
                <div class="col-10">
                    <h3><span th:text="${loggedIn.username}">username</span>'s contacts</h3><br/>
                    <h4>Confirmed:</h4>
                    <table>
                        <tr th:each="kayttaja : ${accepted}">
                            <td>
                                <a th:href="@{/users/{profile}(profile=${kayttaja.profile})}"><span th:text="${kayttaja.name}">name</span></a>
                            </td>
                            <td>
                                <form method="POST" th:action="@{/users/kick/{username}(username=${kayttaja.username})}">
                                    <button type="submit" name="submit">kick</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <h4>Waiting approval:</h4>
                    <table>
                        <tr th:each="kayttaja : ${waiting}">
                            <td>
                                <a th:href="@{/users/{profile}(profile=${kayttaja.profile})}"><span th:text="${kayttaja.name}">name</span></a>
                            </td>
                            <td>
                                <form th:if="${kayttaja.accept}" method="POST" th:action="@{/users/accept/{username}(username=${kayttaja.username})}">
                                    <button type="submit" name="submit">accept</button>
                                </form>
                                <form th:if="${kayttaja.cancel}" method="POST" th:action="@{/users/cancel/{username}(username=${kayttaja.username})}">
                                    <button type="submit" name="submit">cancel</button>
                                </form>
                            </td>
                            <td th:if="${kayttaja.accept}">
                                <form method="POST" th:action="@{/users/deny/{username}(username=${kayttaja.username})}">
                                    <button type="submit" name="submit">deny</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
