<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head th:replace="fragments/layout :: head" lang="en">
        <meta charset="UTF-8" />
        <title>Find user</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: upperPart" />
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div th:replace="fragments/layout :: keskiOsaVasen" />
                </div>
                <div class="col-10">
                    <h3>User accounts</h3>
                    <form th:action="@{/users}" method="POST" enctype="multipart/form-data">
                        What to search for? 
                        <input type="text" name="nameToFind" />
                        <input type="submit" value="Send!"/>
                    </form>
                    <!--
                                        Results:
                                                <li th:each="msg : ${msgView}" >
                                                    <span th:text="${msg}">kokoString</span>
                                                </li>
                    -->
                    <ul>
                        <li th:each="kayttaja : ${kayttajat}">
                            <a th:href="@{/users/{profile}(profile=${kayttaja.profile})}"><span th:text="${kayttaja.name}">msg</span></a>
                            <form th:if="${kayttaja.kick}" method="POST" th:action="@{/users/blah/{username}(username=${kayttaja.username})}">
                                <button type="submit" name="submit">kick</button>
                            </form>
                            <!--                            
                                                        <button th:if="${kayttaja.kick}" onclick="">kick</button>
                            -->
                            <button th:if="${kayttaja.accept}">confirm</button>
                            <button th:if="${kayttaja.cancel}">deny</button>
                            <form th:if="${kayttaja.propose}" method="POST" th:action="@{/users/add/{username}(username=${kayttaja.username})}">
                                <button type="submit" name="submit">add</button>
                            </form>
<!--                            
                            <button th:if="${kayttaja.propose}">add</button>
-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </body>
